* {
  background-color: rgb(20, 20, 20);
  color: white;
}

html {
  font-size: 13px;
}

body {
  padding: 10px;
}

h1 {
  font-size: 1.2em;
}

a {
  color: rgb(146, 206, 146);
  text-decoration: none;
}

a:hover {
  background-color: rgb(248, 105, 34);
  color: white;
}

ul {
  display: table;
  margin: auto;
  padding: 5px;
  list-style-type: none;
}

li {
  line-height: 2.5;
}

.button-xsmall {
  font-size: 70%;
}

#top {
  text-align: center;
}

#loadingSpinner {
  visibility: hidden;
  border-bottom: 6px solid rgba(255, 255, 255, 0.17);
  border-left: 6px solid rgba(255, 255, 255, 0.17);
  border-right: 6px solid rgba(255, 255, 255, 0.17);
  border-top: 6px solid rgba(255, 255, 255, 0.62);
  border-radius: 100%;
  height: 50px;
  width: 50px;
  position: absolute;
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  animation: rot .6s infinite ease-in-out;
}

@keyframes rot {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}